:root{
    /* 메인색상 */
    --main-color-light: #44c744;
    --main-color-basic: #127312;
    --main-color-dark: #0e530e;
    --main-color-lightGray: #f3f7fd;

    /* 폰트컬러 */
    --default-color-primary: #555555;
    
    
    /* 기본색 */
    --black: #000000;
    --white: #FFFFFF;
    --red: #ff0000;
    --green: #00ff00;
    --blue: #0000ff;

    /* 그외 다른 색상 */
    --light-gray-color: #a3a3a3;
}

